{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }}
    | Events
{% endblock %}

{% block body %}
<div class="container my-4">
    {# Display flash messages if any #}
    {% if app.session.flashbag.has('success') %}
        <div class="alert alert-success">
            {% for message in app.session.flashbag.get('success') %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    <div class="container my-4">
        <h2 class="mb-4">Events</h2>
        <div class="row g-4">
            {% for event in events %}
                <div class="col-md-4">
                    <div class="card h-100">
                        <!-- Card Image -->
                        <img src="{{ asset(event.imagePath)}}" class="card-img-top" alt="Image of {{ event.name }}">


                        <!-- Card Body -->
                        <div class="card-body">
                            <h5 class="card-title">{{ event.name }}</h5>

                            <!-- Ticket Availability Message -->
                            {% if event.seats == 0 %}
                                <p class="card-text text-danger">Tickets are sold out.</p>
                            {% elseif event.seats >= 10 and event.seats < 100 %}
                                <p class="card-text text-warning">Only {{ event.seats }} spots left! Last chance!</p>
                            {% elseif event.seats >= 100 %}
                                <p class="card-text text-success">{{ event.seats }} spots available.</p>
                            {% endif %}

                            <!-- Details Button -->
                            <a href="{{ path('app_event_show', {id: event.id}) }}" class="btn btn-info custom-btn">Details</a>


                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
