{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }}
    Events
{% endblock %}

{% block body %}
    <div class="container">
        <br>
        <h2>Party Details</h2>

{#        {% if party %}#}
            <p><strong>Name:</strong> {{ party.name }}</p>
            <p><strong>Description:</strong> {{ party.description }}</p>
            <p><strong>Location:</strong> {{ party.location }}</p>
            <p><strong>Booked Seats:</strong> {{ party.bookedSeats }}</p>
{#        {% else %}#}
{#            <p>Party not found.</p>#}
{#        {% endif %}#}
        <a href="#">EDIT</a>
        <a href="#">DELETE</a>

        <a href="{{ path('app_main_home') }}">HOME</a>

    </div>
{% endblock %}
