{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }}
    | Details
{% endblock %}

{% block body %}
    <div class="container">
        <br>
        <h2>Event Details</h2>


        <ul class="list-group d-flex flex-column" style="flex: 1;">
            <li class="list-group-item"><strong>Name:</strong> {{ event.name }}</li>
            <li class="list-group-item"><strong>Name:</strong> {{ event.location.name }}</li>
            <li class="list-group-item"><strong>Description:</strong> {{ event.description }}</li>
            <li class="list-group-item"><strong>Booked Spots:</strong> {{ event.bookedSeats }}</li>

        </ul>

        <div class="mt-4">
            <a href="{{ path('app_event_event', {id: event.id}) }}" class="btn btn-outline-info me-3">GO BACK</a>

            <a href="{{ path('app_event_edit', {id: event.id}) }}" class="btn btn-outline-info me-3">EDIT</a>

            <a href="{{ path('app_event_delete', {id: event.id}) }}" type="button" class="btn btn-outline-danger">DELETE</a>
        </div>

    </div>
{% endblock %}
